In [2]:
# data preparation
# model building
# deploying model as a website

In [3]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
# merging them into a single database for better convinienc

In [8]:
movies = movies.merge(credits,on='title')

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
# Discussion on which columns to keep and whom to remove and why and how 

# + genres : cuz movies are cateorized based on the genres
# + id : to fetch images while builing the website
# + keywords : to make a matching tags between the script of the movies
# - language : people prefer language but still we have no good distribution of data as 95% is in english in and remaining in other languages
# + title : original and titles are same 
# - original title: as both title and original title is same but since there are some regional movies there title might mein that language
# + overview : since the same and matching content movies may someone like so for that we are going to keep overview
# - popularity : this can be a good measure to recommend as of trending movies but right now we are not making a commercial movie reviewer 
# - production companies : makes no sense
# - production countries : again makes no sense
# - release date : again makes sense but not making for commercial purpose
# - revenue : again as above
# - runtime :
# - spoken language :
# - status :
# - tagline : 
# - vote average : 
# - vote count : 
# - movie_id :
# + cast : since people are fans of some actors
# + crew : as directors and producers are also involved

movies = movies[['movie_id','genres','keywords','title','overview','cast','crew']]

In [11]:
# movie_id
# title 
# tags = overview + generes + keywords + cast(main lead) + crew(director)

In [12]:
movies.isnull().sum()

movie_id    0
genres      0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.duplicated().sum()

np.int64(0)

In [15]:
movies['genres'].head(1)

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [16]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast

def convert(obj):
    obj = ast.literal_eval(obj)
    lst =[]
    for i in obj:
        lst.append(i["name"])
    return lst

In [18]:
movies['genres'] = movies['genres'].apply(convert)

In [19]:
movies.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
movies.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
def convert1(obj):
    lst =[]
    counter = 0
    for i in ast.literal_eval(obj):
        counter += 1
        if counter <= 3:
            lst.append(i["name"])
        else:
            break
    return lst


movies['cast'] = movies['cast'].apply(convert1)

In [23]:
movies.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [24]:
def convert2(obj):
    lst =[]
    for i in ast.literal_eval(obj):
            if i['job'] == 'Director':
                lst.append(i["name"])
    return lst


movies['crew'] = movies['crew'].apply(convert2)

In [25]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [27]:
movies.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [28]:
# 'Sam Worthington' => 'SamWorthington'

In [29]:
movies['genres'] = movies['genres'].apply(lambda x :[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x :[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x :[i.replace(" ","") for i in x])

In [30]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['tags'] = movies["overview"] + movies['keywords'] + movies['cast'] + movies['crew']

In [32]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
df = movies[['movie_id','title','tags']]

In [34]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [35]:
df['tags'] = df['tags'].apply(lambda x : " ".join(x))

C:\Users\Vaishnav Anand\AppData\Local\Temp\ipykernel_1744\1642297555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x : " ".join(x))

In [36]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [37]:
df['tags'] = df['tags'].apply(lambda x : x.lower())

C:\Users\Vaishnav Anand\AppData\Local\Temp\ipykernel_1744\4152385510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x : x.lower())

In [38]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [39]:
# The ultimate goal is the that is tags of 2 rows are same that means there values are and can be recommended so to ultimately we need to find a realtionship between tags of all the rows 

# Now can we do that

# Method 1: we can make or find number of similar words among the tags 
# Method 2: we can vectorize them by giving a value in a 3 dimensional space  known as vectorization 

# The technique we are using is called `bag of words`

In [40]:
# from the whole set of those words we form a table like structure

# word0 | word1 | word2 | word3 | word4 | word5 | word6 and so on 
# word1
# word2
# word3 
# word4
# word5
# word6
# and so onn.

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [42]:
vectors = cv.fit_transform(df['tags']).toarray()

In [43]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [44]:
cv.get_feature_names_out()[100:2000]

array(['adoption', 'adopts', 'adrienbrody', ..., 'hawkins',
       'haydenchristensen', 'head'], shape=(1900,), dtype=object)

In [45]:
# great you got till here 

# but now you can see there are few words that are repeating in plural form like activity & activties and action and actions 
# to overcome this we are using stemming 

# ['loved','loving','lover'] => ['love','love','love']

# To overcome this we will use a library called nltk

In [46]:
#%pip install nltk

In [47]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [48]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [49]:
ps.stem('actions')

'action'

In [50]:
df['tags'] = df['tags'].apply(stem)

C:\Users\Vaishnav Anand\AppData\Local\Temp\ipykernel_1744\866399325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [51]:
# this is not mistakenly repetited it is intentional 
# now observe this time that you are getting term only root ones

In [52]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [53]:
vectors = cv.fit_transform(df['tags']).toarray()

In [54]:
cv.get_feature_names_out()[688:900]

array(['career', 'carefre', 'caretak', 'careymulligan', 'caribbean',
       'carjourney', 'carl', 'carlagugino', 'carmen', 'carol', 'carolina',
       'carrac', 'carri', 'carrie', 'cartel', 'carter', 'cartoon',
       'caryelw', 'case', 'caseyaffleck', 'cash', 'casino', 'cast',
       'castl', 'cat', 'cataclysm', 'catastroph', 'catch',
       'cateblanchett', 'catherinedeneuv', 'catherinekeen',
       'catherinezeta', 'cathol', 'catholic', 'cattl', 'caught', 'caus',
       'cavalri', 'cave', 'cavemen', 'celebr', 'celebration', 'cell',
       'cellphon', 'cemeteri', 'center', 'centr', 'central', 'centuri',
       'centuries', 'century', 'ceo', 'certain', 'chad', 'chain',
       'chainsaw', 'challeng', 'chamber', 'champion', 'championship',
       'chanc', 'chance', 'chang', 'change', 'changed', 'changes',
       'channingtatum', 'chao', 'chaos', 'chaotic', 'chapter', 'charact',
       'character', 'characters', 'charg', 'charismat', 'charl', 'charli',
       'charlie', 'charliesheen', 'charlizetheron', 'charm', 'chart',
       'chase', 'chauffeur', 'chazzpalminteri', 'cheat', 'check',
       'cheerlead', 'chef', 'chemic', 'cher', 'chevychas', 'chicago',
       'chicken', 'chief', 'child', 'childabus', 'childhero', 'childhood',
       'childprodigi', 'children', 'chill', 'chimp', 'china', 'chines',
       'chip', 'chipmunk', 'chiwetelejiofor', 'chloe', 'chloëgracemoretz',
       'chloësevigni', 'chocol', 'choic', 'choice', 'choos', 'chosen',
       'chowyun', 'chri', 'chriscolumbu', 'chriscoop', 'chrisevan',
       'chrishemsworth', 'chrisklein', 'chrispin', 'chrisrock', 'christ',
       'christian', 'christianbal', 'christianslat', 'christin',
       'christinaappleg', 'christinaricci', 'christma', 'christmas',
       'christmasparti', 'christmastre', 'christoph',
       'christopherlambert', 'christopherlloyd', 'christophernolan',
       'christopherplumm', 'christopherwalken', 'christophwaltz',
       'chrisweitz', 'chronicl', 'chuck', 'church', 'cia', 'ciaránhind',
       'cigarettesmok', 'cillianmurphi', 'cinema', 'circl', 'circu',
       'circuit', 'circumst', 'citi', 'citizen', 'city', 'civil',
       'civilian', 'civilwar', 'claim', 'clair', 'clairedan',
       'claireforlani', 'clan', 'clark', 'clash', 'class', 'classdiffer',
       'classic', 'classmat', 'classroom', 'claudevandamm', 'clay',
       'clean', 'clear', 'clerk', 'client', 'cliff', 'climat', 'climb',
       'clinteastwood', 'cliveowen', 'clock', 'clone', 'close', 'closer',
       'cloud', 'clown', 'club', 'clue', 'clueless', 'clutch', 'coach',
       'coast', 'cocain', 'code', 'coffin', 'cohen', 'col', 'cold',
       'coldwar', 'cole', 'colin', 'colinfarrel', 'colinfirth', 'collaps',
       'colleagu', 'collect'], dtype=object)

In [55]:
# now we are going to calculate the distance between one vector will all other vectors and vice-versa
# secondly we are not going to calculate the euclidean distance we are going to calculate the cosine distance between them 

# the more the distance will the faulty the euclidiean distance so that is why we will use angle 
# distance inversly proportional to similarity

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
similarity = cosine_similarity(vectors)

In [58]:
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x : x[1])[1:6]

[(1214, np.float64(0.25142264225703365)),
 (2405, np.float64(0.24404676504598818)),
 (582, np.float64(0.21613144789263333)),
 (507, np.float64(0.20812378052829614)),
 (3728, np.float64(0.20797258270192573))]

In [59]:
sorted(similarity[0],reverse=True)

[np.float64(1.0),
 np.float64(0.25142264225703365),
 np.float64(0.24404676504598818),
 np.float64(0.21613144789263333),
 np.float64(0.20812378052829614),
 np.float64(0.20797258270192573),
 np.float64(0.2045239970259654),
 np.float64(0.19926334924652142),
 np.float64(0.1980295085953348),
 np.float64(0.19474520942613002),
 np.float64(0.18981415059132414),
 np.float64(0.17503501050350123),
 np.float64(0.16977493752543305),
 np.float64(0.16637806616154058),
 np.float64(0.1647705109143269),
 np.float64(0.16169041669088866),
 np.float64(0.15877683720748892),
 np.float64(0.1569197342897824),
 np.float64(0.15339299776947407),
 np.float64(0.150093837982278),
 np.float64(0.14969623771302393),
 np.float64(0.14969623771302393),
 np.float64(0.14969623771302393),
 np.float64(0.14890247043403096),
 np.float64(0.14777011582226215),
 np.float64(0.14666320798326962),
 np.float64(0.1449427589131121),
 np.float64(0.1430397079704303),
 np.float64(0.14291548761875733),
 np.float64(0.14269544824634822),
 np.float64(0.14269544824634822),
 np.float64(0.14097096860865022),
 np.float64(0.140028008402801),
 np.float64(0.140028008402801),
 np.float64(0.14002800840280097),
 np.float64(0.13750477455423168),
 np.float64(0.1373087590952724),
 np.float64(0.1373087590952724),
 np.float64(0.13719886811400706),
 np.float64(0.1345345587992625),
 np.float64(0.1345345587992625),
 np.float64(0.13396328420673195),
 np.float64(0.13284223283101426),
 np.float64(0.13284223283101426),
 np.float64(0.1320196723968899),
 np.float64(0.13076644524148534),
 np.float64(0.1292719224987548),
 np.float64(0.12524485821702988),
 np.float64(0.12507819831856498),
 np.float64(0.12478354962115544),
 np.float64(0.12478354962115543),
 np.float64(0.1224989893875063),
 np.float64(0.12126781251816647),
 np.float64(0.12007302660701852),
 np.float64(0.11941628680530642),
 np.float64(0.1188177051572009),
 np.float64(0.11651034560709259),
 np.float64(0.11504474832710555),
 np.float64(0.11433239009500587),
 np.float64(0.11433239009500587),
 np.float64(0.11227217828476795),
 np.float64(0.11227217828476795),
 np.float64(0.11128297681493143),
 np.float64(0.10984700727621793),
 np.float64(0.10984700727621793),
 np.float64(0.10969086361906957),
 np.float64(0.10846522890932808),
 np.float64(0.10846522890932808),
 np.float64(0.10846522890932808),
 np.float64(0.10727978097782273),
 np.float64(0.10713431680111603),
 np.float64(0.10713431680111603),
 np.float64(0.10635890745287925),
 np.float64(0.10585122480499262),
 np.float64(0.105572301461668),
 np.float64(0.10555008273018726),
 np.float64(0.10502100630210075),
 np.float64(0.10502100630210075),
 np.float64(0.10461315619318828),
 np.float64(0.10461315619318828),
 np.float64(0.10398629135096286),
 np.float64(0.10341753799900383),
 np.float64(0.10289915108550529),
 np.float64(0.10289915108550529),
 np.float64(0.10226199851298272),
 np.float64(0.10226199851298272),
 np.float64(0.10226199851298272),
 np.float64(0.10114434748483471),
 np.float64(0.10114434748483471),
 np.float64(0.10114434748483471),
 np.float64(0.10090091909944687),
 np.float64(0.09901475429766743),
 np.float64(0.09901475429766743),
 np.float64(0.09723055853282464),
 np.float64(0.09723055853282464),
 np.float64(0.0955394632947723),
 np.float64(0.09553946329477228),
 np.float64(0.09513029883089881),
 np.float64(0.0942285694863091),
 np.float64(0.0939336436627724),
 np.float64(0.0939336436627724),
 np.float64(0.09335200560186731),
 np.float64(0.09249945801257606),
 np.float64(0.09249945801257606),
 np.float64(0.09249945801257606),
 np.float64(0.09240616554505461),
 np.float64(0.09166984970282112),
 np.float64(0.09095085938862485),
 np.float64(0.09095085938862485),
 np.float64(0.09095085938862485),
 np.float64(0.09086217008485092),
 np.float64(0.08856148855400953),
 np.float64(0.08856148855400951),
 np.float64(0.08856148855400951),
 np.float64(0.08712136837380642),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08696565534786725),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.0850871259623034),
 np.float64(0.08458258116519013),
 np.float64(0.08458258116519013),
 np.float64(0.08346223261119858),
 np.float64(0.08346223261119858),
 np.float64(0.08346223261119858),
 np.float64(0.08346223261119858),
 np.float64(0.08346223261119858),
 np.float64(0.08346223261119858),
 np.float64(0.08328707558159618),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08318903308077029),
 np.float64(0.08258401390153339),
 np.float64(0.08238525545716345),
 np.float64(0.08238525545716345),
 np.float64(0.08238525545716345),
 np.float64(0.08238525545716345),
 np.float64(0.08084520834544433),
 np.float64(0.08084520834544433),
 np.float64(0.08084520834544433),
 np.float64(0.08035073760083702),
 np.float64(0.08035073760083702),
 np.float64(0.07868894753646336),
 np.float64(0.07868894753646336),
 np.float64(0.07868894753646336),
 np.float64(0.07845986714489121),
 np.float64(0.07845986714489121),
 np.float64(0.07845986714489121),
 np.float64(0.07845986714489121),
 np.float64(0.07845986714489121),
 np.float64(0.07845986714489121),
 np.float64(0.07756315349925287),
 np.float64(0.07756315349925287),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07669649888473704),
 np.float64(0.07585826061362604),
 np.float64(0.075755401907857),
 np.float64(0.07504691899113898),
 np.float64(0.07504691899113898),
 np.float64(0.07484811885651196),
 np.float64(0.07484811885651196),
 np.float64(0.07484811885651196),
 np.float64(0.07484811885651196),
 np.float64(0.07426106572325057),
 np.float64(0.07426106572325057),
 np.float64(0.07426106572325057),
 np.float64(0.07349939363250378),
 np.float64(0.07349939363250378),
 np.float64(0.07312724241271305),
 np.float64(0.07312724241271305),
 np.float64(0.07312724241271305),
 np.float64(0.07312724241271305),
 np.float64(0.07276068751089988),
 np.float64(0.07276068751089988),
 np.float64(0.07276068751089988),
 np.float64(0.07204381596421111),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07151985398521515),
 np.float64(0.07134772412317411),
 np.float64(0.07134772412317411),
 np.float64(0.07067142711473183),
 np.float64(0.07067142711473183),
 np.float64(0.0700140042014005),
 np.float64(0.0700140042014005),
 np.float64(0.0700140042014005),
 np.float64(0.0700140042014005),
 np.float64(0.07001400420140048),
 np.float64(0.07001400420140048),
 np.float64(0.06937459350943204),
 np.float64(0.06875238727711584),
 np.float64(0.06859943405700353),
 np.float64(0.06859943405700353),
 np.float64(0.06859943405700353),
 np.float64(0.06859943405700353),
 np.float64(0.06843538575349505),
 np.float64(0.06755660236665673),
 np.float64(0.06755660236665673),
 np.float64(0.06755660236665673),
 np.float64(0.06726727939963124),
 np.float64(0.06726727939963124),
 np.float64(0.06726727939963124),
 np.float64(0.06726727939963124),
 np.float64(0.06726727939963124),
 np.float64(0.06642111641550713),
 np.float64(0.06642111641550713),
 np.float64(0.06600983619844494),
 np.float64(0.06600983619844494),
 np.float64(0.06600983619844494),
 np.float64(0.06600983619844494),
 np.float64(0.06600983619844494),
 np.float64(0.06600983619844494),
 np.float64(0.06587443126365883),
 np.float64(0.06587443126365883),
 np.float64(0.06534102628035482),
 np.float64(0.0653410262803548),
 np.float64(0.06511170133930119),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06482037235521643),
 np.float64(0.06431196942844081),
 np.float64(0.06431196942844081),
 np.float64(0.06381534447172756),
 np.float64(0.06381534447172756),
 np.float64(0.06381534447172756),
 np.float64(0.06381534447172756),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06369297552984819),
 np.float64(0.06333004963811235),
 np.float64(0.06285566056425843),
 np.float64(0.06285566056425843),
 np.float64(0.06285566056425843),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06262242910851494),
 np.float64(0.06237343238042664),
 np.float64(0.06160411036336974),
 np.float64(0.06160411036336974),
 np.float64(0.06160411036336974),
 np.float64(0.06160411036336974),
 np.float64(0.06149400462680908),
 np.float64(0.06105941257599791),
 np.float64(0.06105941257599791),
 np.float64(0.0610594125759979),
 np.float64(0.06063390625908324),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.06063390625908323),
 np.float64(0.059808916712167495),
 np.float64(0.05970814340265321),
 np.float64(0.05970814340265321),
 np.float64(0.05970814340265321),
 np.float64(0.05970814340265321),
 np.float64(0.05940885257860044),
 np.float64(0.059016710652347516),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05882352941176469),
 np.float64(0.05797710356524483),
 np.float64(0.05797710356524483),
 np.float64(0.05797710356524483),
 np.float64(0.05797710356524483),
 np.float64(0.05797710356524483),
 np.float64(0.05797710356524483),
 np.float64(0.05788529495093047),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.057166195047502935),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.056388387443460086),
 np.float64(0.05601120336112039),
 np.float64(0.05564148840746572),
 np.float64(0.05564148840746572),
 np.float64(0.05564148840746572),
 np.float64(0.05564148840746572),
 np.float64(0.05564148840746572),
 np.float64(0.05564148840746572),
 np.float64(0.05547950410914818),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05492350363810897),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.05423261445466404),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.053567158400558014),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05292561240249631),
 np.float64(0.05278615073083401),
 np.float64(0.05230657809659414),
 np.float64(0.05230657809659414),
 np.float64(0.05230657809659414),
 np.float64(0.05230657809659414),
 np.float64(0.05230657809659414),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051708768999501914),
 np.float64(0.051449575542752646),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.05113099925649136),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050572173742417355),
 np.float64(0.050435306986068934),
 np.float64(0.05003127932742599),
 np.float64(0.05003127932742599),
 np.float64(0.05003127932742599),
 np.float64(0.05003127932742599),
 np.float64(0.05003127932742599),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.049507377148833714),
 np.float64(0.04899959575500252),
 np.float64(0.04899959575500252),
 np.float64(0.04899959575500252),
 np.float64(0.04899959575500252),
 np.float64(0.04899959575500252),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04850712500726659),
 np.float64(0.04802921064280741),
 np.float64(0.04802921064280741),
 np.float64(0.04802921064280741),
 np.float64(0.04802921064280741),
 np.float64(0.04802921064280741),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.047565149415449405),
 np.float64(0.04736317334630044),
 np.float64(0.04711428474315455),
 np.float64(0.04711428474315455),
 np.float64(0.04711428474315455),
 np.float64(0.046676002800933654),
 np.float64(0.046676002800933654),
 np.float64(0.04639051998342824),
 np.float64(0.04624972900628803),
 np.float64(0.04624972900628803),
 np.float64(0.04624972900628803),
 np.float64(0.04624972900628803),
 np.float64(0.046203082772527305),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04583492485141056),
 np.float64(0.04543108504242546),
 np.float64(0.04543108504242546),
 np.float64(0.04543108504242546),
 np.float64(0.04543108504242546),
 np.float64(0.04543108504242546),
 np.float64(0.045037734911104486),
 np.float64(0.045037734911104486),
 np.float64(0.045037734911104486),
 np.float64(0.045037734911104486),
 np.float64(0.045037734911104486),
 np.float64(0.04465442806891065),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.044280744277004756),
 np.float64(0.04391628750910588),
 np.float64(0.04391628750910588),
 np.float64(0.04391628750910588),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04356068418690321),
 np.float64(0.04321358157014428),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.042874646285627205),
 np.float64(0.0425435629811517),
 np.float64(0.0425435629811517),
 np.float64(0.0425435629811517),
 np.float64(0.0422200330920749),
 np.float64(0.042008402520840295),
 np.float64(0.04190377370950561),
 np.float64(0.04173111630559929),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),
 np.float64(0.041594516540385144),

In [60]:
def recommend(movie):
    movie_index = df[df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x : x[1])[1:6]

    for i in movies_list:
        print(df.iloc[i[0]].title)

In [61]:
recommend("Avatar")

Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Independence Day
Falcon Rising

In [62]:
import pickle

In [63]:
pickle.dump(df,open('movies.pkl','wb'))

In [64]:
pickle.dump(similarity,open('similarity.pkl','wb'))